@use 'variables' as *;

body{
    background-image: url(../assets/images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    align-items: center;
}


main{
    
    display: flex;
    flex-direction: column;
    //padding-inline: 5vw;
    width: 90vw;
}




.topWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
   
    h1{
        color: var(--light-900);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: clamp(2rem, 10vw, 4rem);
    }
}

// .todoForm{

// }

.themeSwitcher{
    background: transparent;
    border: 0;
}

.newTodoWrapper{
    display: flex;
    align-items: center;
    background-color: var(--neutral-200);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
}

#newTodoCheckbox{
    border-radius:100px;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    height: 50%;
    border: 1px solid var(--neutral-300);
    appearance: none;
}

#newTodoInput{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--neutral-200);
    border: 0;
    margin-left: .5rem;
    font-size: clamp(.75rem, 4vw, 1.5rem);
    text-align: left;
    color: var(--neutral-700);
}


.todoList{
    padding-inline-start: 0;
    list-style: none;
    margin-block: 0;
    margin-block-start: 1rem;
    li{
        &:first-child{
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        
    }
    .todo{
        background-color: var(--neutral-200);
        display: flex;
        padding: 1rem;
        border-bottom:1px solid var(--neutral-400) ;
        
        input{
            accent-color: red;
            //linear-gradient(135deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
            border: 1px solid red;
            aspect-ratio: 1;
            width: 1.5rem;
        }
        p{
            display: flex;
            align-items: center;
            margin-left: .5rem;
            color: var(--neutral-600);
        }
        button{
            border: 0;
            background: transparent;
            margin-left: auto;
        }
    }
}

.lastListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--neutral-200);
    padding: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    p,button{
        color:var(--neutral-600);
        font-size: clamp(.75rem, 3vw, 1.5rem);
        border: 0;
        background: transparent;
    }
    
}


.filters{
    display: flex;
    padding: 1rem;
    background-color: var(--neutral-200);
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    button{
        border: 0;
        background: transparent;
        color: var(--neutral-400);
        font-weight: 700;
        

    }
}

.chosenFilter{
    color: var(--primary-500);
}

.bottomParagraph{
    margin-inline: auto;
    color: var(--neutral-400);
    padding: 3rem;
}

.desktopOnly{
    display: none;
}
.mobileOnly{
    display: flex;
}

.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    //border: 0;
    background-image: linear-gradient(135deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
    border-image:linear-gradient(100deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  
  
//   .container {
//     margin: 0 auto;
//   }


.todo:has(input:checked){
    p{
        text-decoration: line-through;
        color: var(--neutral-400);
    }
}




@media only screen and (min-width:650px){
    main{
        max-width:600px ;
    }
}


@media only screen and (min-width:768px){
    body{
        background-image: url(../assets/images/bg-desktop-dark.jpg);
    }
    .todo{
        p{
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            font-weight: 400;
            padding-left: 1rem;
        }
    }
    .lastListItem{
        p,button{
            font-size: clamp(0.75rem, 1.25vw, 1.25rem);
        }
    }

    .lastListItem{
        border-radius: 0;
        border-bottom: 1px solid var(--neutral-400);
        margin-bottom: 0;
    }
    .desktopOnly{
        display: flex;
    }
    .mobileOnly{
        display: none;
    }
    .filtersAndLastItem{
        color: var(--neutral-400);
        .clearCompleted{
            border: 0;
            background: transparent;
            color: var(--neutral-400);
        }

        .filters{
            padding: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--neutral-200);
        border-bottom-left-radius:5px ;
        border-bottom-right-radius:5px ;
        padding: 1rem;
    }

}